a:-webkit-any-link {
    text-decoration: none;
}
.nav{
    grid-area: n;
    background-color: darkseagreen;
    padding:20px;
    text-decoration: none;
}
.item a{
    color:white;
    background-color: red;
    text-decoration: none;
}
.active{
    color:gold;

}